In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#csv: comma-separated value
dframe = pd.read_csv('demo.csv',header=None)
dframe

      0        1     2
0   Cab  Revenue  Loss
1  Uber      100  1000
2  Grab       10   200
3  Lyft       30   500
4   Ola       90   900

In [5]:
#use readtablee
dframe2 = pd.read_table('demo.csv',sep=',',header=None)
dframe2

      0        1     2
0   Cab  Revenue  Loss
1  Uber      100  1000
2  Grab       10   200
3  Lyft       30   500
4   Ola       90   900

In [6]:
#partial rows importing
pd.read_csv('demo.csv',nrows=2,header=None)

      0        1     2
0   Cab  Revenue  Loss
1  Uber      100  1000

In [8]:
dframe2.to_csv('outputCSV.csv',sep=',')

In [9]:
#select specific column
dframe.to_csv('dataoutpot.csv',columns=[0,1])

### Excel Pandas

In [10]:
#import pandas as pd
excelfile = pd.ExcelFile('demo.xlsx')
dframe = excelfile.parse('demo')
dframe

    Cab  Revenue  Losses
0  Uber      100    1000
1  Grab       10     200
2  Lyft       30     500
3   Ola       90     900

### html pandas

In [11]:
from pandas import read_html

In [13]:
#url = 'https://countrycode.org/'
#dflist = pd.io.html.read_html(url)
#dframe = dflist[0]
#dframe

In [14]:
#dframe.columns.values